<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>700161713587-vqoetf938l8dbdc6ij1qh85oqnroj9vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.700161713587-vqoetf938l8dbdc6ij1qh85oqnroj9vf</string>
	<key>API_KEY</key>
	<string>AIzaSyCoJjOJmeI9n1GT0bZ7DFEXN0oRS6TVjww</string>
	<key>GCM_SENDER_ID</key>
	<string>700161713587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>anod3v-gmail.com.LoginForm</string>
	<key>PROJECT_ID</key>
	<string>loginform-fe533</string>
	<key>STORAGE_BUCKET</key>
	<string>loginform-fe533.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:700161713587:ios:618c1766f11e2a355857c6</string>
	<key>DATABASE_URL</key>
	<string>https://loginform-fe533.firebaseio.com</string>
</dict>
</plist>